body { font-family: 'Kalam', cursive;}

a:link {color: rgb(240, 8, 136);}
a:visited {color: rgb(99, 3, 183);}
a:hover { color: rgb(179, 8, 93);}
a:active {color: rgb(3, 11, 103);}

h1 { font-family: 'Courgette', cursive;
    color:  #fd3e91;}

.adatok {border: 4px dotted #a00154; 
        text-align: center; 
        background-color: #ff9cc7;
        color: #ac046c;
        padding: 20px;  }

nav ul {list-style: none; 
    display: flex;
    justify-content: space-evenly;
    color: rgb(255, 0, 102)}

.email {font-size: 20px; 
    line-height: 20px; 
    padding: 17px; 
    border-radius: 10px; 
    background-image: linear-gradient(to right, rgb(231, 38, 116), rgb(236, 154, 187) 50%,  rgb(231, 38, 116) 100%); 
    border: 4px solid rgb(3, 11, 103); 
    display: inline-block;}
.email:hover { background: #f594d1; }
.email:active {background: #04587e; }    

.Iskolák {list-style-type: square;
    list-style-type: circle; }
    
h2 {color: #fd3e91;}
footer {font-family: 'Style Script', cursive;
     list-style: none;}
.fa {width: 125px;
    float:right}
form{
    text-align: left;
}